<header class='page-header'>
  <div class='top-bar-content'>
    <a href='/allrede/' title='Voltar'>
      <img class='back' src='/img/voltar.svg' alt='icone de voltar' />
    </a>
    <span>{{textTop}}</span>

    <div class='profile'>
      <div>
        <button onclick='myFunction()' class='btn-avatar'>
          <div class='avatar'>
            <img src='/img/perfil.png' alt='Foto de perfil' />
          </div>
        </button>
        <div class='avatar-menu' id='myDIV'>
          <ul class='menu-itens'>
            <li><a href='/allrede/meu-perfil'>Meu perfil</a></li>
            <li><a href='/allrede/relatorio'>Relatórios</a></li>
            <li><a href='logout'>Sair</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</header>