<header class='page-header'>
  <div class='top-bar-content'>
    <a href='/allrede/meu-painel' title='Voltar'>
      <img class='back' src='/img/voltar.svg' alt='icone de voltar' />
    </a>
    <span>{{textTop}}</span>

    <a href='/allrede'>
      <div class='top-logo'>
        <img src='/img/allrede_branco.png' alt='Allrede' />
      </div>
    </a>
  </div>
</header>