<div id='page-painel'>
  {{> header-profile }}
  <div class='page-header-content'>
    <div class='top-text'>
      <p>Olá, {{emoji}} {{nome}}! </p>
    </div>
  </div>
  <div class='panel-container'>
    <div class='panel-cards'>
      <div class='cards'>
        <header>
          <p>Meu bônus</p>
          <img src='/img/real.png' alt='' />
        </header>
        <strong>
          R$ 100.00
        </strong>
      </div>
      <div class='cards'>
        <header>
          <p>Meus pontos</p>
          <img src='/img/up.png' alt='' />
        </header>
        <strong>
          10000
        </strong>
      </div>
      <div class='cards'>
        <header>
          <p>Atendimentos Reprovados</p>
          <img src='/img/x.png' alt='' />
        </header>
        <strong>
          50
        </strong>
      </div>
    </div>
  </div>
  <div class='stats-container-u'>
    <div class='pontos-chart'>
      <strong>Atendimentos - últimos 7 dias</strong>
      <canvas id='myChart'></canvas>
      <div class='botton-section'>
        <p>Total de atendimentos esta semana</p>
        <strong>100</strong>
      </div>
    </div>
    <div class='tipos-atendimentos'>
      <strong> Atendimentos</strong>
      <div class='atd-cards'>
        <p>Concluídos</p>
        <p>200</p>
      </div>
      <div class='atd-cards'>
        <p>Pendentes</p>
        <p>200</p>
      </div>
      <div class='atd-cards'>
        <p>Aguardando análise </p>
        <p>200</p>
      </div>
      <div class='atd-cards'>
        <p>Transferidos</p>
        <p>200</p>
      </div>
      <div class='atd-cards'>
        <p>Ordens de serviço</p>
        <p>200</p>
      </div>
      <div class='atd-cards'>
        <p>Total de Atendimentos</p>
        <p>200</p>
      </div>
    </div>
  </div>
  <div class='table-atd'>
    <div class='header'>
      <p>Últimos atendimentos auditados</p>
      <a href='/allrede/atendimentos-auditados'>Ver todos</a>
    </div>
    <div class='table-body'>
      <div>
        <strong>Protocolo</strong>
        <br /><br />
        <p>123456789012345</p>
      </div>
      <div>
        <strong>Tipo de atendimento</strong>
        <br />
        <br />
        <p>9. DÚVIDAS/INFORMAÇÕES GERAIS</p>
      </div>
      <div>
        <strong>Parecer</strong>
        <br /><br />
        <p>Aprovado</p>
      </div>
      <div>
        <strong>Data do Parecer</strong>
        <br /><br />
        <p>10-01-2022</p>
      </div>

    </div>

    <div class='table-body'>
      <div>
        <strong>Protocolo</strong>
        <br /><br />
        <p>123456789012345</p>
      </div>
      <div>
        <strong>Tipo de atendimento</strong>
        <br />
        <br />
        <p>9. DÚVIDAS/INFORMAÇÕES GERAIS</p>
      </div>
      <div>
        <strong>Parecer</strong>
        <br /><br />
        <p>Aprovado</p>
      </div>
      <div>
        <strong>Data do Parecer</strong>
        <br /><br />
        <p>10-01-2022</p>
      </div>

    </div>
    <div class='table-body'>
      <div>
        <strong>Protocolo</strong>
        <br /><br />
        <p>123456789012345</p>
      </div>
      <div>
        <strong>Tipo de atendimento</strong>
        <br />
        <br />
        <p>9. DÚVIDAS/INFORMAÇÕES GERAIS</p>
      </div>
      <div>
        <strong>Parecer</strong>
        <br /><br />
        <p>Aprovado</p>
      </div>
      <div>
        <strong>Data do Parecer</strong>
        <br /><br />
        <p>10-01-2022</p>
      </div>

    </div>
    <div class='table-body'>
      <div>
        <strong>Protocolo</strong>
        <br /><br />
        <p>123456789012345</p>
      </div>
      <div>
        <strong>Tipo de atendimento</strong>
        <br />
        <br />
        <p>9. DÚVIDAS/INFORMAÇÕES GERAIS</p>
      </div>
      <div>
        <strong>Parecer</strong>
        <br /><br />
        <p>Aprovado</p>
      </div>
      <div>
        <strong>Data do Parecer</strong>
        <br /><br />
        <p>10-01-2022</p>
      </div>

    </div>
    <div class='table-body'>
      <div>
        <strong>Protocolo</strong>
        <br /><br />
        <p>123456789012345</p>
      </div>
      <div>
        <strong>Tipo de atendimento</strong>
        <br />
        <br />
        <p>9. DÚVIDAS/INFORMAÇÕES GERAIS</p>
      </div>
      <div>
        <strong>Parecer</strong>
        <br /><br />
        <p>Aprovado</p>
      </div>
      <div>
        <strong>Data do Parecer</strong>
        <br /><br />
        <p>10-01-2022</p>
      </div>

    </div>
  </div>
  <div class='space'>
    espaço
  </div>
</div>