<div id='page-login'>
  <div class='hero-image'>
    <img src='/img/allrede_branco.png' alt='' />
    <p>Sistema de auditoria e gratificação</p>
  </div>
  <div class='login-container'>
    <img src='/img/allrede_favicon.png' alt='Allrede' title='Allrede' />
    <div class='title' title='login'>
      <p>Fazer login</p>
    </div>
    <form action='/v1/login' class='form' method='post'>
      <div class='input-block'>
        <input
          type='text'
          class='input'
          placeholder='Digite seu email hubsoft aqui'
          name='email'
        />
      </div>
      <div class='input-block'>
        <input
          type='password'
          class='input'
          placeholder='Digite sua senha aqui'
          name='password'
        />
      </div>
      <input type='submit' value='Entrar' class='sign_btn' />
    </form>
  </div>
</div>